@layer substrat-theme {
  :root {
    /* https://easings.net/ */

    --transition-duration: ;
    --transition-easing: ;

    --alpha-light: 0.5;
    --color-light-hsl: 72, 12%, 92%;
    

    --alpha-dark: 0.5;
    --color-dark-hsl: 200, 9%, 19%;
    

    --alpha-primary: 0.5;
    --color-primary-hsl: 156, 4%, 74%;
    

    --alpha-primary-dark: 0.5;
    --color-primary-dark-hsl: 200, 10%, 28%;
    

    --alpha-secondary: 0.5;
    --color-secondary-hsl: 35, 18%, 80%;
    

    --alpha-secondary-dark: 0.5;
    --color-secondary-dark-hsl: 25, 33%, 47%;

    transition: background-color 1s ease-in-out, color 0.3s ease-in-out;
  }
}